body {
  background: black;
  color: #00ff99;
  font-family: "Courier New", monospace;
  text-align: center;
}

#gameArea {
  position: relative;
  width: 500px;
  height: 400px;
  margin: auto;
  background: #111;
  border: 2px solid #00ff99;
  overflow: hidden;
  margin-top: 20px;
}

#player {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #00ffaa;
  bottom: 0;
  left: 10px;
  border-radius: 5px;
}

.platform {
  position: absolute;
  width: 100px;
  height: 10px;
  background: #00ff99;
  border-radius: 5px;
}
