body {
  background: black;
  color: #00ff99;
  font-family: monospace;
  text-align: center;
}

#gameArea {
  position: relative;
  width: 800px; /* مرحلة أطول */
  height: 300px;
  margin: 20px auto;
  background: #111;
  border: 2px solid #00ff99;
  overflow: hidden;
  border-radius: 10px;
}

#player {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #00ffaa;
  border-radius: 5px;
  bottom: 0;
  left: 10px;
}

.platform {
  position: absolute;
  width: 100px;
  height: 10px;
  background: #00ff99;
  border-radius: 5px;
}

.info { width: 800px; margin: auto; }

.hidden { display: none; }

#endScreen button {
  padding: 10px 20px;
  background: #00ff99;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
