@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

body {
  background: radial-gradient(circle at center, #001a0f, #000000);
  font-family: 'Orbitron', monospace;
  color: #00ff99;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

/* تأثير وميض عام */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0,255,153,0.03),
    rgba(0,255,153,0.03) 1px,
    transparent 2px,
    transparent 4px
  );
  pointer-events: none;
}

.hidden {
  display: none;
}

/* شاشة الإقلاع */
#bootScreen {
  margin-top: 120px;
  animation: fadeIn 2s ease;
}

#bootScreen p {
  animation: flicker 1.5s infinite;
  letter-spacing: 2px;
}

#bootScreen button {
  background: transparent;
  border: 2px solid #00ff99;
  color: #00ff99;
  padding: 12px 25px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.3s;
}

#bootScreen button:hover {
  background: #00ff99;
  color: black;
  box-shadow: 0 0 20px #00ff99;
}

/* واجهة اللعبة */
#game {
  width: 520px;
  margin: auto;
  margin-top: 40px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow:
    0 0 20px #00ff99,
    inset 0 0 20px rgba(0,255,153,0.2);
  animation: slideUp 1s ease;
}

h1 {
  letter-spacing: 3px;
}

/* الشريط العلوي */
.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
}

/* شريط التقدم */
.progress {
  width: 100%;
  height: 14px;
  background: #002b1a;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 0 10px black;
}

#bar {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #00ff99, #00ffaa, #00ff99);
  box-shadow: 0 0 15px #00ff99;
  transition: width 0.5s;
}

/* الطرفية */
#terminal { white-space: pre-line;

#terminal p {
  line-height: 1.8;
  letter-spacing: 1.5px;
  margin: 8px 0;
}


/* الإدخال */
input {
  width: 85%;
  padding: 10px;
  background: black;
  color: #00ff99;
  border: 1px solid #00ff99;
  border-radius: 20px;
  outline: none;
}

button {
  background: #00ff99;
  color: black;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 5px;
  transition: 0.2s;
}

button:hover {
  box-shadow: 0 0 15px #00ff99;
  transform: scale(1.05);
}

/* حركات */
@keyframes flicker {
  0% {opacity: 1;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}

@keyframes slideUp {
  from {transform: translateY(50px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

