body {
  background: black;
  color: #00ff99;
  font-family: "Courier New", monospace;
  text-align: center;
}

h1 { margin-top: 10px; }

#gameArea {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 20px auto;
  background: #111;
  border: 2px solid #00ff99;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 20px #00ff99;
}

#player {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #00ffaa;
  border-radius: 5px;
  bottom: 0;
  left: 10px;
}

.platform {
  position: absolute;
  width: 100px;
  height: 10px;
  background: #00ff99;
  border-radius: 5px;
}

.moving {
  animation: movePlatform 2s infinite alternate linear;
}

@keyframes movePlatform {
  0% { left: 0; }
  100% { left: 500px; }
}

.info { width: 600px; margin: auto; }

.progress {
  width: 100%;
  height: 12px;
  background: #003300;
  border-radius: 8px;
  margin-top: 5px;
}

#bar {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg,#00ff99,#00ffaa,#00ff99);
  box-shadow: 0 0 10px #00ff99;
  transition: width 0.5s;
}

.hidden { display: none; }

#endScreen {
  color: #00ff99;
}
#endScreen button {
  padding: 10px 20px;
  background: #00ff99;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 15px;
}
#endScreen button:hover {
  box-shadow: 0 0 15px #00ff99;
}
